@import "normalize.css";
html {
	background-color: white;
	box-sizing: border-box;
}
body {
	width: 960px;
	
	margin:0 auto;
	background-color: #FFDEA9;	
}
main {
	width: 100%;
	height: 1100px;
	margin-top: 25px;
			overflow: hidden;
	position: relative;
}
.btn {
	width: 100px;
	height: 75px;
	color: #38A4FF;
	border-radius: 10px;
	background-color:#F1FF59;
	outline: none;
	margin:50px;
	font-size: 16px;
	-webkit-transition: background 2s ease;
	transition: background 2s ease;
}
.btn:hover {
	background-color: #87FF7B;
}
.btn:active {
	background-color: #642F1D;
}
.block {
	width: 400px;
	height: 200px;
	background-color: #C75043;
	border-radius: 10px;
	border:3px #8CECB0 solid;
	position: absolute;
	left: -360px;
}
.block:hover {
	-webkit-transition: left 0.5s linear;
	transition: left 0.5s linear;
	left: 0;
}
.bg {
	width: 100%;
	height: 600px;
	margin-top: 250px;
	background: url(bg.jpg) no-repeat;
	background-size: cover;
	position: relative;
}
.car {
	background: url(auto.png) no-repeat;
	background-size: cover;
	width: 150px;
	height: 100px;
	position: absolute;
	bottom: 0;
	animation: move 5s linear 1 forwards;
	animation-play-state: running;
}
.car:hover {
	animation-name: move;
	animation-play-state: paused;
}

@keyframes move {
  0%  { left: 0; }
  50% { left: 80%; }
  100% { left: 40%; }
}